body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.chat-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90vw;
  height: 600px;
}

.chat-window {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 10px;
}

.messages {
  list-style: none;
  padding: 0;
  word-wrap: break-word;
  height: auto;
  display: flex;
  flex-direction: column;
}

.message {
  margin: 10px 0;
}

.message img {
  max-width: 100%;
}

#chat-form {
  display: flex;
  gap: 10px;
}

#msg {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  background-color: #ff6b6b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #ff4c4c;
}

#no-messages {
  text-align: center;
  color: grey;
  margin-top: 20px;
}

.outgoingMsg {
  text-align: right;
}

.incomingMsg {
  text-align: left;
}

.message img{
  width: 60%;
  height: auto;
  max-height: 350px;
  object-fit: cover;
  border-radius: 8px;
  margin: 0 10px;
}